{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-7">
        <h2>401 error</h2>
        <p>
            Ser ut som om en creeåer har sprengt tilgangen til siden du så etter! Har du husket å logge inn?
            <br> Hvis du ikke er logget inn kan du trykke på en hvilken som helst av sidene i menylinjen ovenfor for å bli sendt til innlogging!
        </p>
    </div>
    <div class="col-md-5">
        <img src="../static/images/creeper401.png" alt="Oops! Dette skulle egentlig være en creeper" style="width:250px;">
    </div>
</div>

{% endblock %}