{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-7">
        <h2>404 error</h2>
        <p>
            Ser ut som om en enderman har stjålet siden du så etter! Har du dobbeltsjekket stavingen din?
            <br><br> Prøv en av sidene fra menylinjen vår ovenfor!
        </p>
    </div>
    <div class="col-md-5">
        <img src="../static/images/enderman404.png" alt="Oops! Dette skulle egentlig være en enderman" style="width:170px;">
    </div>
</div>

{% endblock %}