{% extends "layout.html" %}

{% block content %}

<h2>Database test</h2>
    <ul class=meetings>
    {% for meeting in meetings %}
        <li><h3>{{ meeting.title }}</h3>
            {{ meeting.start_time }} Deltakere: {{ meeting.participant_count }} Verden: {{ meeting.world_id }}</li>

    {%  endfor %}
    </ul><hr>
    <ul class=worlds>
    {% for world in worlds %}
        <li>Created by: {{ world.user_id }} File_ref: {{ world.file_ref }} Description: {{ world.description }}</li>
    {%  endfor %}
    </ul>
    <ul class=users>
    {% for user in users %} <!-- TODO: To be removed (entire user for loop) when everything works properly -->
        <li><h3>{{ user.email }} </h3> <p> Passord: {{ user.password }} Rolle: {{ user.roles }} ID: {{ user.id }}</p></li>
    {% endfor %}
    </ul>
{% endblock %}
