{% extends "layout.html" %}
{% from "meeting_form.html" import meeting, meeting_scripts %}

{% block content %}

{{meeting(form, world)}}

<hr>

<div class="body-content">
    <h2>Dine møter:</h2>
    <div class="row panel-group">

    {% for meeting in meetings %}
    <div class="panel panel-default" id="meeting_id_{{ meeting.id }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ meeting.title }}
                <span class="pull-right">{{ meeting.start_time.strftime('%A %d.%m.%Y kl. %H:%M') }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <span class="pull-left">
                Deltakere: {{ meeting.participant_count }}
            </span>
            <span class="pull-right">
                <a class="btn btn-default" href="{{ url_for('edit_meeting', meeting_id=meeting.id) }}">Rediger</a>
            </span>
        </div>
    </div>
    {% endfor %}
    </div>
    <br>
    <a href=" {{ url_for('export_calendar') }} " class="row btn btn-default">Last ned iCalendar-fil til kalenderen din.</a>
</div>


{% endblock %}


{% block scripts %}

{{meeting_scripts(set_tab)}}

{% endblock %}
