{% extends "layout.html" %}
{% from "meeting_form.html" import meeting, meeting_scripts %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#world-tab" data-toggle="tab">Generer verden</a></li>
    <li><a href="#meeting-tab" data-toggle="tab">Møteinfo</a></li>
</ul>

{{meeting(form)}}

<hr>

<div class="body-content">
    <h2>Dine møter:</h2>

    {% for meeting in meetings %}
    <div class="row panel panel-default">
        <div class="panel-body">
            <h4 class="col-md-4 text-left"> {{ meeting.title }} </h4>
            <div class="col-md-4 text-left">
                <h5> {{ meeting.start_time }} </h5>
                <h5> Deltakere: {{ meeting.participant_count }} </h5>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-default" href="{{ url_for('edit_meeting', meeting_id=meeting.id) }}">Rediger</a>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}

    <a href=" {{ url_for('export_calendar') }} " class="row btn btn-default">Last ned iCalendar-fil til kalenderen din.</a>
</div>

{% endblock %}


{% block scripts %}

{{meeting_scripts(set_tab)}}

{% endblock %}
