{% extends "layout.html" %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#world-tab">Generer verden</a></li>
    <li><a href="#meeting-tab">Møteinfo</a></li>
</ul>

<div class="tab-content" style="padding-top: 15px">
    <div class="tab-pane fade in active" id="world-tab">
        <div class="row" id="gen-choise">
            <div class="col-md-4">
                <a href="{{ url_for('from_map') }}" class="btn btn-default thumbnail" id="kartverket-btn">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Kartverket</h2>
                        <p>
                            Lag en ny verden fra et utsnitt av et kart over Norge.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="btn btn-default thumbnail" id="upload-btn">
                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Last opp</h2>
                        <p>
                            Last opp en verden fra din datamaskin.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="btn btn-default thumbnail" id="template-btn">
                    <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Lagret mal</h2>
                        <p>
                            Lag en ny verden basert på en av dine lagrede maler.
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row body-content">
            <p><span class="btn btn-default glyphicon glyphicon-arrow-left" id="back-btn" style="display: none"></span></p>

            <div id="kartverket" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: green; width: 100%; height: 400px;"></div>

            </div>

            <div id="template" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: red; width: 100%; height: 400px;"></div>

            </div>

            <div id="upload" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: yellow; width: 100%; height: 400px;"></div>

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="meeting-tab">

        {% include "meeting_form.html" %}
        
    </div>
</div>


<h2>Dine møter:</h2>

<ul class="meetings">
    {% for meeting in meetings %}
    <div class="row">
        <li>
            <div class="meeting-btn btn btn-default">
                <h1 class="col-md-4"> {{ meeting.title }} </h1>
                <h2 class="col-md-4"> {{ meeting.start_time }} </h2>
                <h2 class="col-md-4"> Deltakere: {{ meeting.participant_count }} </h2>
            </div>
        </li>
    </div>
    {% endfor %}
</ul>

{% endblock %}


{% block scripts %}

<script type=text/javascript>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });

    /*
    $(document).ready(function(){
        $("#kartverket-btn").click(function(){
            $("#gen-choise").hide();
            $("#kartverket").show();
            $("#back-btn").show();
        });
    });
    */

    $(document).ready(function(){
        $("#template-btn").click(function(){
            $("#gen-choise").hide();
            $("#template").show();
            $("#back-btn").show();
        });
    });

    $(document).ready(function(){
        $("#upload-btn").click(function(){
            $("#gen-choise").hide();
            $("#upload").show();
            $("#back-btn").show();
        });
    });

    $(document).ready(function(){
        $("#back-btn").click(function(){
            $("#kartverket").hide();
            $("#template").hide();
            $("#upload").hide();
            $("#back-btn").hide();
            $("#gen-choise").show();
        });
    });
</script>

{% endblock %}
