<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <meta name="viewport" content="width=795, user-scalable=yes">#}
    <title id='pageTitle'>{{ title }} - {{ config.APP_NAME }}</title>
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    {% block head_scripts %}{% endblock %}
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-default" id="head_navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">{{ config.APP_NAME }}</a>
            </div>
            <div class="navbar-collapse collapse">
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('contact') }}">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for_security('logout') }}">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        Logg ut</a>
                    </li>
                    <li>
                    {% if current_user.has_role('admin') %}
                        <a href="{{ url_for('admin.index') }}">
                    {% else %}
                        <a href="{{ url_for('user') }}">
                    {% endif %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ current_user.email }}</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% include "security/_messages.html" %}
        {% block content %}{% endblock %}
        <footer id="footer">
            <hr>
            <p>&copy; {{ year }} - {{ config.APP_NAME }}</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/spin.min.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
