{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h2>Logg inn</h2>
        <p>
            Her kommer inloggingsfelt. Etter hvert.
            <form name="login" action="index_submit" method="get" accept-charset="utf-8">
                <ul>
                    <li><label for="username"> Brukernavn: <br></label>
                            <input type="text" name="username" placeholder="Skriv brukernavn her" required>
                    </li><br>
                    <li><label for="password"> Passord: <br></label>
                        <input type="password" name="password" placeholder="Skriv passord her" required>
                    </li><br>
                    <input type="submit" value="Login">
                </ul>
            </form>
        </p>
    </div>
</div>

{% endblock %}