{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% macro meeting(form, world) %}

<link rel="stylesheet" href="/static/content/bootstrap-datetimepicker.min.css" />

<ul class="nav nav-tabs">
    <li class="active"><a href="#world-tab" data-toggle="tab">Velg verden</a></li>
    <li><a href="#meeting-tab" data-toggle="tab">Møtedetaljer</a></li>
    <li id="world_preview_tab" style="display: none"><a href="#preview-tab" data-toggle="tab">Forhåndsvisning</a></li>
</ul>

<div class="tab-content" style="padding-top: 15px">
    <div class="tab-pane fade in active" id="world-tab" style="opacity: 0;">
        <div class="row" id="gen-choise">
            <div class="col-md-4">
                <a href="{{ url_for('from_map') }}" class="btn btn-default thumbnail" id="kartverket-btn">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Norgeskart</h2>
                        <p>
                            Lag en ny verden basert på et utsnitt av et kart over Norge.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="btn btn-default thumbnail" id="upload-btn">
                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Last opp</h2>
                        <p>
                            Last opp en verden fra din datamaskin.
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="btn btn-default thumbnail" id="template-btn">
                    <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Dine verdener</h2>
                        <p>
                            Lag et nytt møte basert på en lagret Minecraft verden.
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row body-content">
            <button class="btn btn-default" id="back-btn" style="display: none">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tilbake </button>

            <div id="template" style="display: none"></div>

            <div id="upload" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: yellow; width: 100%; height: 400px;"></div>

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="meeting-tab">
        <form role="form" method="POST" action=" {{ action }}">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6">
                    {{ render_field_with_errors(form.title, class="form-control") }}
                    {{ render_field_with_errors(form.participant_count, class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ render_field_with_errors(form.start_time, class="form-control", id="start_time") }}
                    {{ render_field_with_errors(form.end_time, class="form-control", id="end_time") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Lagre </button>

                    <a class="btn btn-default" href= {{ url_for('home') }}>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Avbryt </a>
                </div>
                <div class="col-md-6">
                    <label> Minecraft verden </label>
                    <div id="world_info" class="well">
                        {% if world %}
                            {% include 'world_info.html' %}
                        {% else %}
                            Ingen Minecraft verden valgt
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane fade" id="preview-tab">
        <div id="preview_content"></div>
        <button type="button" class="btn btn-default panel-btn" id="use_preview_btn" value=""
                title="Bruk denne verdenen i et møte" style="display: none">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Bruk </button>
    </div>
</div>

{% endmacro %}

{% macro meeting_scripts(set_tab) %}

<script type="text/javascript" src="/static/scripts/moment.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/scripts/nb.js"></script>

<script type=text/javascript>
var obj_load={% if set_tab==1 %} 1 {% else %} 0 {% endif %};
tab_load=(obj_load ? "#meeting-tab" : "#");

$(document).ready(function () {
    $('#start_time').datetimepicker({
        locale: 'nb',
        showClose: true,
        toolbarPlacement: 'top',
        minDate: moment(),
        tooltips: {
            close: 'Lukk velgeren',
            selectTime: 'Velg tid',
            pickHour: 'Velg time',
            incrementHour: 'Øk timer',
            decrementHour: 'Reduser timer',
            pickMinute: 'Velg minutt',
            incrementMinute: 'Øk minutter',
            decrementMinute: 'Reduser minutter',
            selectMonth: 'Velg måned',
            prevMonth: 'Forrige måned',
            nextMonth: 'Neste måned',
            selectYear: 'Velg år',
            prevYear: 'Forrige år',
            nextYear: 'Neste år',
            selectDecade: 'Velg tiår',
            prevDecade: 'Forrige tiår',
            nextDecade: 'Neste tiår',
            prevCentury: 'Forrige århundre',
            nextCentury: 'Neste århundre'
        }
    });
    $('#end_time').datetimepicker({
        useCurrent: false
    });
    $('#end_time').data("DateTimePicker").options(
        $('#start_time').data("DateTimePicker").options()
    );
    $("#start_time").on("dp.change", function (e) {
        $('#end_time').data("DateTimePicker").minDate(e.date);
    });
});

$(document).ready(function() {
    /* Select tab on page load */
    if (location.hash || obj_load) {
        $('a[href=' + (location.hash || tab_load) + ']').tab('show');
    } else {
        document.getElementById("world-tab").style.opacity = "1";
    }

    /* World and detail tabs click event */
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
        document.getElementById("world-tab").style.opacity = "1";
    });

    /* World list click event */
    $("#template-btn").click(function(){
        $("#gen-choise").hide();
        $("#template").show();
        $("#back-btn").show();

        world_list_loader();
    });

    /* Upload world click event */
    $("#upload-btn").click(function(){
        $("#gen-choise").hide();
        $("#upload").show();
        $("#back-btn").show();
    });

    /* Back button click event */
    $("#back-btn").click(function(){
        $("#kartverket").hide();
        $("#template").hide();
        $("#upload").hide();
        $("#back-btn").hide();
        $("#gen-choise").show();
    });

    /* Preview button click event (world info well) */
    $('.preview_btn').click(function () {
        /* Give clicked button (this) to function */
        preview_loader.call(this);
    });
    
    /* Detect world ID change */
    $('#world_id').change(function () {
        var world_id = $('#world_id').val();
        /* Clear preview tab if world id is different */
        if (world_id !== $('#use_preview_btn').val()) {
            $('#world_preview_tab').hide();
            $('#preview_content').html('');
            var preview_button = $('#use_preview_btn');
            preview_button.hide();
            preview_button.val('');
            preview_button.off('click');
        }
        /* Fetch world info */
        $.get('{{ url_for('world_info') }}' + world_id, function (data) {
            $('#world_info').html(data);
            /* Register click event on preview button in world info well */
            $('.preview_btn').click(function () {
                /* Give clicked button (this) to function */
                preview_loader.call(this);
            });
        });
    });

    /* Load world preview */
    function preview_loader() {
        var world_id = $(this).val();
        $('#world_preview_tab').show();
        // TODO Load preview or show spinner and poll for finished preview
        $('#preview_content').html('<div style="width:100%;height:400px;background:deepskyblue"> Verden ID: ' + world_id + '</div>');
        $('#preview_content').children(':first').append(new Spinner().spin().el);

        /* Add use button if world not already in use */
        var preview_button = $('#use_preview_btn');
        preview_button.val(world_id);
        if (world_id !== $('#world_id').val()) {
            preview_button.click(function () {
                /* Keep this context */
                use_world_handler.call(this);
            });
            preview_button.show();
        } else {
            preview_button.hide();
            preview_button.off('click');
        }
        /* Activate preview tab */
        $('a[href=#preview-tab]').click();
    }

    function world_list_loader() {
        /* Load world list */
        $.get('{{ url_for('browse_worlds') }}', function (data) {
            $('#template').html(data);

            /* Toggle world favourite click event */
            $('.toggle_favourite_btn').click(function () {
                var world_id = $(this).val();
                console.log(world_id);
                $.getJSON('{{ url_for('toggle_favourite') }}' + world_id, function (data) {
                    console.log(data);
                    if (data.success) {
                        var favourite_star = $('#favourite_star_' + world_id);
                        if (data.favourite) {
                            favourite_star.removeClass('glyphicon-star-empty');
                            favourite_star.addClass('glyphicon-star');
                            favourite_star.css('color', '#FFD00F');
                        } else {
                            favourite_star.removeClass('glyphicon-star');
                            favourite_star.addClass('glyphicon-star-empty');
                            favourite_star.css('color', 'inherit');
                        }
                    }
                });
            });
            /* Delete world click event */
            $('.delete_world_btn').click(function () {
                var world_id = $(this).val();
                $.getJSON('{{ url_for('delete_world') }}' + world_id, function (data) {
                    var world_panel = $('#world_id_' + world_id);
                    if (data.success) {
                        world_panel.remove();
                    } else {
                        world_panel.append('<div class="alert alert-danger alert-dismissible" ' +
                                'style="margin-left:15px;margin-right:15px">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span></button>' +
                                data.message + '</div>');
                    }
                });

            });
            /* Use world click event */
            $('.use_world_btn').click(function () {
                /* Keep this context */
                use_world_handler.call(this);
            });
            /* Preview world click event in world list */
            $('.preview_btn_list').click(function () {
                /* Keep this context */
                preview_loader.call(this);
            });

            {#/* Generate preview click event */
            $('.gen_preview_btn').click(function () {
                var world_id = $(this).val();
                $.get('{{ url_for('generate_preview') }}' + world_id, function(data) {
                    var btn = $('#preview_world_btn_' + world_id);
                    btn = $(this).button('loading')

                });
            });
            /* Show preview click event */
            $('.show_preview_btn').click(function () {
                var world_id = $(this).val();
                $.get('{{ url_for('show_preview') }}' + world_id, function(data) {

                });
            });#}
        });
    } // function world_list_loader

    /* Handler for use world click event */
    function use_world_handler() {
        var world_id = $('#world_id');
        world_id.val( $(this).val() );
        $('a[href=#meeting-tab]').click();
        world_id.change();
    }

});
</script>

{% endmacro %}
