{% from "security/_macros.html" import render_field_with_errors, render_field %}

<form method="POST" action=" {{ action }}">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6">
            {{ render_field_with_errors(form.title) }}
        </div>

        <div class="col-md-6">
            {{ render_field_with_errors(form.start_time) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ render_field_with_errors(form.participant_count) }}
        </div>

        <div class="col-md-6">
            {{ render_field_with_errors(form.end_time) }}
        </div>
    </div>
    {{ render_field_with_errors(form.world_ref) }}
    {{ render_field(form.world_id) }}
    {% if world is not none %}
        <a href="{{ url_for('get_world', file_name=world.file_ref) }}">Last ned verden</a><br>
    {% endif %}

    <input type="submit" class="btn btn-default">
</form>