{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#world-tab">Generer verden</a></li>
    <li><a href="#meeting-tab">Møteinfo</a></li>
</ul>

<div class="tab-content" style="padding-top: 15px">
    <div class="tab-pane fade in active" id="world-tab">
        <div class="row" id="gen-choise">
            <div class="col-md-4">
                <div class="btn btn-default thumbnail" id="kartverket-btn" style="white-space: normal">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Kartverket</h2>
                        <p>
                            Lag en ny verden fra et utsnitt av et kart over Norge.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="btn btn-default thumbnail" id="upload-btn" style="white-space: normal">
                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Last opp</h2>
                        <p>
                            Last opp en verden fra din datamaskin.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            <div class="btn btn-default thumbnail" id="template-btn" style="white-space: normal">
                    <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: 8em"></span>

                    <div class="caption">
                        <h2>Lagret mal</h2>
                        <p>
                            Lag en ny verden basert på en av dine lagrede maler.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row body-content">
            <p><span class="btn btn-default glyphicon glyphicon-arrow-left" id="back-btn" style="display: none"></span></p>

            <div id="kartverket" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: green; width: 100%; height: 400px;"></div>

            </div>

            <div id="template" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: red; width: 100%; height: 400px;"></div>

            </div>

            <div id="upload" style="display: none">

                <!-- Placeholder -->
                <div style="background-color: yellow; width: 100%; height: 400px;"></div>

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="meeting-tab">
        <form method="POST" action="{{ url_for('store_meeting') }}">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6">
                    {{ render_field_with_errors(form.title) }}
                </div>

                <div class="col-md-6">
                    {{ render_field_with_errors(form.start_time) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ render_field_with_errors(form.participant_count) }}
                </div>

                <div class="col-md-6">
                    {{ render_field_with_errors(form.end_time) }}
                </div>
            </div>
            {{ render_field_with_errors(form.world_ref) }}
            <input type="submit">
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type=text/javascript>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });


    $(document).ready(function(){
        $("#kartverket-btn").click(function(){
            $("#gen-choise").hide();
            $("#kartverket").show();
            $("#back-btn").show();
        });
    });

    $(document).ready(function(){
        $("#template-btn").click(function(){
            $("#gen-choise").hide();
            $("#template").show();
            $("#back-btn").show();
        });
    });

    $(document).ready(function(){
        $("#upload-btn").click(function(){
            $("#gen-choise").hide();
            $("#upload").show();
            $("#back-btn").show();
        });
    });

    $(document).ready(function(){
        $("#back-btn").click(function(){
            $("#kartverket").hide();
            $("#template").hide();
            $("#upload").hide();
            $("#back-btn").hide();
            $("#gen-choise").show();
        });
    });
</script>

{% endblock %}
