{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors %}

{% block content %}

<form method="post">
    <dl>
        {{ render_field_with_errors(form.name) }}
    </dl>
</form>

<div class="row">
    <div class="col-md-4">
        <h2>Kartverket</h2>
        <p>
            Lag en ny verden fra et utsnitt fra et kart over Norge.
        </p>
        <p><a class="btn btn-default">Velg</a></p>
    </div>

    <div class="col-md-4">
        <h2>Lagret mal</h2>
        <p>
            Lag en ny verden basert på en av dine lagrede maler.
        </p>
        <p><a class="btn btn-default">Velg</a></p>
    </div>

    <div class="col-md-4">
        <h2>Last opp</h2>
        <p>
            Last opp en verden fra din datamaskin.
        </p>
        <p><a class="btn btn-default">Velg</a></p>
    </div>
</div>

{% endblock %}
