body {
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #b1daae;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 15px;
    margin-left: 15px;
}

/* Shady fix of admin nav bar */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #b1daae;
}

a.thumbnail {
    white-space: normal;
    text-decoration: none;
}
a.thumbnail:hover {
    border-color: #adadad;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.meetings {
    list-style-type: none;
}
.meetings .row li {
    margin-right: 15px;
    margin-left: 0px;
}
.meetings .row .btn {
    width: 100%;
    text-align: left;
}
.meetings .row h1 {
    font-size: larger;
}
.meetings .row h2 {
    font-size: large;
}
