{% extends "layout.html" %}

{% block content %}

<div>
    <h2> Instillinger for denne brukeren </h2><br>

    <a href="{{ url_for('change_email') }}" class="btn btn-default btn-lg btn-block"
       style="text-align: left; padding-left: 0.5em; padding-right: 0.5em; margin-bottom: 0.5em;">
        Endre brukernavn / e-post adresse
        <strong class="pull-right">{{ current_user.email }}</strong>
    </a>

    <a href="{{ url_for('change_name') }}" class="btn btn-default btn-lg btn-block"
       style="text-align: left; padding-left: 0.5em; padding-right: 0.5em; margin-bottom: 0.5em;">
        Endre navn / beskrivelse
        <strong class="pull-right">{{ current_user.name }}</strong>
    </a>

    <a href="{{ url_for('change_password') }}" class="btn btn-default btn-lg btn-block"
       style="text-align: left; padding-left: 0.5em; padding-right: 0.5em; margin-bottom: 0.5em;">
        Endre passord
        <strong class="pull-right">********</strong>
    </a>

    <a href="{{ url_for('change_playername') }}" class="btn btn-default btn-lg btn-block"
       style="text-align: left; padding-left: 0.5em; padding-right: 0.5em; margin-bottom: 0.5em;">
        Registrer / endre Minecraft spillernavn
        <strong class="pull-right">{{ current_user.mojang_playername }}</strong>
    </a>
</div>
<span class="clearfix"></span>

{% endblock %}
