<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="http://minecraft.kartverket.no">minecraft.kartverket.no</a> <br>
<a href="http://minecraft.kartverket.no/libs/openlayers/OpenLayers.js">libs/openlayers/OpenLayers.js</a> <br>
<a href="http://minecraft.kartverket.no/libs/fme.js">libs/fme.js</a> <br>
<a href="http://minecraft.kartverket.no/libs/proj4.js">libs/proj4.js</a> <br>
<a href="http://minecraft.kartverket.no/libs/bootstrap_switch/js/bootstrap-switch.min.js">libs/bootstrap_switch/js/bootstrap-switch.min.js</a> <br>
<a href="http://minecraft.kartverket.no/libs/spin.min.js">libs/spin.min.js</a> <br>
<a href="http://minecraft.kartverket.no/minecraftnorge.min.js">minecraftnorge.js</a> <br>
<a href="http://minecraft.kartverket.no/libs/bootstrap_switch/css/bootstrap-switch.min.css">libs/bootstrap_switch/css/bootstrap-switch.min.css</a> <br>
<a href="http://minecraft.kartverket.no/"></a> <br>
<a href="http://minecraft.kartverket.no/"></a> <br>
<a href="http://minecraft.kartverket.no/"></a> <br>
<a href="http://minecraft.kartverket.no/"></a> <br>


</body>
</html>