{% set p = pillar['minecraft']['properties']  %}

#Minecraft server properties
server-ip={{ p.ip }}
server-port={{ p.port }}

level-name={{ p.level_name }}
level-type={{ p.level_type }}
level-seed={{ p.level_seed }}
allow-nether={{ p.allow_nether }}
max-world-size={{ p.max_world_size }}
max-build-height={{ p.max_build_height }}
generate-structures={{ p.generate_structures }}
generator-settings={{ p.generator_settings }}

gamemode={{ p.gamemode }}
force-gamemode={{ p.force_gamemode }}
allow-flight={{ p.allow_flight  }}
difficulty={{ p.difficulty }}
hardcore={{ p.hardcore }}
pvp={{ p.pvp }}

max-players={{ p.max_players }}
max-tick-time={{ p.max_tick_time }}

spawn-npcs={{ p.spawn_npcs }}
spawn-animals={{ p.spawn_animals }}
spawn-monsters={{ p.spawn_monsters }}

online-mode={{ p.online_mode }}
motd={{ p.motd }}
announce-player-achievements={{ p.announce_player_achievements }}
op-permission-level={{ p.op_permission_level }}
white-list={{ p.white_list }}
player-idle-timeout={{ p.player_idle_timeout }}
network-compression-threshold={{ p.network_compression_threshold }}
view-distance={{ p.view_distance }}

enable-query={{ p.enable_query }}
enable-rcon={{ p.enable_rcon }}
enable-command-block={{ p.enable_command_block }}
snooper-enabled={{ p.snooper_enabled }}
resource-pack={{ p.resource_pack }}
resource-pack-sha1={{ p.resource_pack_sha1 }}
